<h1>Movie</h1>
@if(VM.Element) {
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well well-sm">
            <div class="col-sm-6 col-md-8">
                <h4>{{VM.Element.title}}</h4>
                <p>
                    <strong>Release Year:</strong> {{VM.Element.release_year}}
                    <br />
                    <strong>Rental Duration:</strong> {{VM.Element.rental_duration}} days
                    <br />
                    <strong>Rental Rate:</strong> ${{VM.Element.rental_rate}}
                    <br />
                    <strong>Replacement Cost:</strong> ${{VM.Element.replacement_cost}}
                    <br />
                    <strong>Language:</strong> {{VM.Element.language_id}}
                </p>
            </div>
        </div>
    </div>
</div>
} @else {
<h2>No data available</h2>
}
